.design-performance {
    background: black;
    padding-top: 28px;
    padding-bottom: 50px;
}
.design-performance p small {
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    text-align: center;

    color: #979797;
}
.design-performance p.small {
    max-width: 271px;
    margin: 0 auto 15px auto;
    text-align: center;
    line-height: 8px;
}
.design-performance .wrap-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.design-performance .picture__effects picture {
    text-align: center;
    display: block;
    position: relative;
    padding: 30px 0;
}
.design-performance .picture__effects picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 82%, #000000 80%);
    width: 100%;
    height: 100%;
}
.design-performance p.none__mobile {
    display: none;
}
.design-performance .featured__image-figure {
    position: relative;
    grid-row: 2;
}
.design-performance .featured__image-caption {
    position: absolute;
    bottom: 50px;
    left: 30px;
    padding: 9px 21px;
    border-bottom: solid 5px rgba(240,139,29,1);
    background: rgba(255,255,255,1)
}
/** SLIDER */
.design-performance .slick-track .slick-slide:first-child .slide__design{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.design-performance .slick-track .slick-slide .slide__design{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.design-performance .slick-track .slick-slide:last-child .slide__design{
    padding-left: 15px;
    padding-right: 15px;
}
.design-performance .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.design-performance .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transform: rotate(45deg);
}

.design-performance .slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: black;
    position: relative;
}
.design-performance .slick-dots li.slick-active button {
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #DB532A;
    position: relative;
}

.design-performance .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #DB532A;
    background-color: black;
}

.design-performance .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: 1;
    color: black;
    width: 4px;
    height: 4px;
    background-color: #DB532A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slide__design .effect__hover {
    overflow: hidden;
    width: 100%;
    
}
.slide__design .effect__hover img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .25s;
    transition: all .25s;
}

.slide__design:hover .effect__hover img{
    -webkit-transform: scale(1.09);
	transform: scale(1.09);
}

.slide__design caption {
    position: absolute;
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 153.2%;
    background: #FFFFFF;
    padding: 5px;
    bottom: 15px;
    left: 19px;
}
.slide__design caption::after {
    content: "";
    width: 100%;
    background: linear-gradient(91.38deg, #F08B1D 49.94%, #DB882A 136.63%);
    height: 4px;
    display: flex;
    bottom: 0;
    position: absolute;
    left: 0;
}
.slide__design p {
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    
    color: #FFFFFF;
    text-align: left;
}

.slider__design {
    max-width: 1287px;
    margin: 50px auto 0px auto;
}

@media (min-width: 1024px) {
    .design-performance .wrap-buttons {
        max-width: 1190px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .design-performance p {
        font-family: Soleto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin: 50px auto;
        max-width: 688px;
    }
    .design-performance p.none__mobile {
        display: block;
    }
    .design-performance p.small {
        max-width: 872px;
    }
    .design-performance .slide__design caption {
        font-size: 28px;
    }
}
