.design-performance {
    background: black;
    padding-top: 28px;
}

.design-performance .wrap-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.design-performance picture {
    text-align: center;
    display: block;
    position: relative;
    padding: 30px 0;
}
.design-performance picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 92%, #000000 80%);
    width: 100%;
    height: 100%;
}
@media (min-width: 1024px) {
    .design-performance .wrap-buttons {
        max-width: 1190px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .design-performance p {
        font-family: Soleto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin: 50px auto;
        max-width: 688px;
    }
}
