.programas-lavagem {
    background: url('https://res.cloudinary.com/brastempwebp/image/upload/q_auto:best/v1584622952/2020-lava-loucas/bg-pgms_mycbtc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 5px;
}
.programas-lavagem .small {
    color: white;
    display: none;
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    
}
/** SLIDER */
.slider__lavagem {
    width: 100%;
    margin: 54px auto;
}
.slider__lavagem .slick-prev {
    left: 45px;
    
}
.slider__lavagem .slick-next {
    right: 45px;
}
.slider__lavagem .slick-prev, 
.slider__lavagem .slick-next {
    top: 13%;
    z-index: 2;
    width:18px;
    height:35px;
}
.slider__lavagem .slick-next::before,
.slider__lavagem .slick-prev::before  {
    content: '';
    width:18px;
    height:35px;
    content: '';
    display: block;
}
.slider__lavagem .slick-next::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAxOCAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUwxNyAxN0wxIDMzIiBzdHJva2U9IiNGMDhCMUQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==")
}
.slider__lavagem .slick-prev::before {
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAxOCAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUwxNyAxN0wxIDMzIiBzdHJva2U9IiNGMDhCMUQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==")
}
/*wrapper*/
.slide__lavagem-flex {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.slide__lavagem-text p,
.slide__lavagem-text h3{
    text-align: center;

    font-family: Soleto;
    font-style: normal;
    color: #FFFFFF;
}
/*icons*/
.slide__lavagem .slide__lavagem-icons {
    min-width: 172px;
    min-height: 106px;
    width: 172px;
    height: 106px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 7px;
}
/*txts*/
.slide__lavagem-flex h3{
    font-size: 22px;
    font-weight: normal;
    line-height: 27px;
    margin: 23px 0 16px 0;
}
.slide__lavagem-flex p {
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}
/*dots*/
.programas-lavagem .slick-dots {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.programas-lavagem .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transform: rotate(45deg);
}

.programas-lavagem .slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
}
.programas-lavagem .slick-dots li.slick-active button {
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #DB532A;
    position: relative;
}

.programas-lavagem .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #DB532A;
    background-color: black;
}

.programas-lavagem .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: 1;
    color: black;
    width: 4px;
    height: 4px;
    background-color: #DB532A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1024px) {
    .programas-lavagem {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    .programas-lavagem .small {
        display: block;
    }
    .slider__lavagem {
        width: 915px;
        margin: 114px auto;
    }
    .slide__lavagem-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    .slide__lavagem-text {
        width: 150px;
        margin: 0 auto;
    }
    
    .programas-lavagem .slick-slide > div:first-child {
        display: flex;
        margin-bottom: 100px;
    }
    .slide__lavagem-text p,
    .slide__lavagem-text h3{
        text-align: left;
    }
}
