.videos {
    background: black;
    padding-top: 26px;
}
@media (min-width: 1024px) {
    .videos {
        padding-top: 82px;
    }
    .slider__videos {
        width: 924px;
        margin: 0 auto;
    }
}